/*
#
# Alle Werte für eine individuelle Anpassung
# sind in der style.colors.css zu bearbeiten 
#
*/

@import "../style.colors.css";

/* Standardwerte */
div.astrotel_connect,
div.astrotel_connect *,
div#astrotel_close,
div#astrotel_close *,
div#astrotel_nav,
div#astrotel_nav *,
div#astrotel_nav_m,
div#astrotel_nav_m *,
div#mask_iframe,
div#mask_iframe * {
  margin: 0px;
  padding: 0px;
  box-sizing: unset !important;
}

/* Z-INDEX */
div.astrotel_connect {
  z-index: 800;
}
div#astrotel_close {
  z-index: 801;
}
div#astrotel_close a {
  z-index: 802;
}
div#astrotel_nav {
  z-index: 803;
}
div#astrotel_nav_m {
  z-index: 804;
}
div#mask_iframe {
  z-index: 805;
}

.icons_extern {
  font-family: "FontAwesome";
  font-style: none;
  font-size: 20px;
  line-height: 28px;
}

/* SEITLICHE NAVIGATION DESKTOP */
div#astrotel_nav {
  display: block;
  position: fixed;
  margin: auto;
  height: auto;
  width: var(--desktop-breite);
  top: var(--desktop-abstand-von-oben);
  right: var(--desktop-verschoben);
  bottom: auto;
  left: auto;
  text-align: left;
  background-color: transparent;
}
div#astrotel_nav_m {
  display: none;
}

div#astrotel_nav ul {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 500px;
  height: auto;
  margin-top: 0px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
div#astrotel_nav ul li {
  position: absolute;
  display: block;
  width: 500px;
  height: 40px;
  left: 0px;
  top: 0px;
} /*background-color:#fff;*/
div#astrotel_nav ul li a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: var(--desktop-schriftfarbe-icon-text);
}
div#astrotel_nav ul li span {
  float: left;
  display: block;
  width: 300px;
  height: 35px;
  padding-top: 5px;
  padding-left: 14px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 17px; /*text-transform:uppercase;*/
  letter-spacing: 0.6px;
  line-height: 28px;
  color: var(--desktop-schriftfarbe-icon-text);
  background-color: var(--desktop-hintergrundfarbe-icon-link);
  box-shadow: 2px 2px 0px var(--desktop-schatten-icon-text);
}
div#astrotel_nav ul li span.icons_extern {
  width: 40px;
  height: 35px;
  padding-top: 5px;
  padding-left: 0px;
  border-radius: 40px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  background-color: var(--desktop-hintergrundfarbe-icon-link);
}

/* SEITLICHE NAVIGATION MOBILE */
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  div#astrotel_nav_m {
    display: block;
    position: fixed;
    margin: auto;
    width: auto;
    height: 70px;
    top: auto;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: var(--mobile-hintergundfarbe-navigation);
  } /*overflow:hidden;*/
  div#astrotel_nav {
    display: none;
  }

  div#astrotel_nav_m ul {
    list-style: none;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding-left: 0px !important;
    margin-top: 15px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  div#astrotel_nav_m ul li {
    position: relative;
    float: right;
    display: inline-block;
    margin-top: auto;
    margin-bottom: 10px;
    width: 60px;
    height: 40px;
    left: auto;
    top: 0px !important;
  } /*background-color:#666;*/
  div#astrotel_nav_m ul li:first-child {
    width: 40px;
  }
  div#astrotel_nav_m ul li a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
  }

  div#astrotel_nav_m ul li span {
    display: block;
    width: 100%;
    letter-spacing: 0.6px;
    color: #666;
    background-color: #f1f1f1;
  }
  div#astrotel_nav_m ul li span.stxt {
    display: none;
    position: absolute;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    top: 0px;
    right: -100%;
    box-shadow: 0px 1px 0px #ccc;
    background-color: transparent; /*background-color:#000;*/
    text-align: left;
  }
  div#astrotel_nav_m ul li span.icons_extern {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 32px;
    padding-top: 8px;
    padding-left: 0px;
    border-radius: 40px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 0px #666;
  }

  div#mclose {
    display: none;
    position: absolute;
    width: 100%;
    height: 50px;
    top: -50px;
    right: auto;
    background-color: var(--mobile-hintergrundfarbe-close);
    _color: #fff;
    border-top: 12px solid var(--mobile-hintergundfarbe-navigation);
  }
  div#mclose span {
    display: block;
    position: absolute;
    width: 40px;
    height: 35px;
    padding-top: 5px;
    top: 5px;
    right: 10px;
    background-color: var(--mobile-hintergrundfarbe-close-icon);
    border-radius: 40px;
    font-size: 20px;
    color: var(--mobile-schriftfarbe-close);
    text-align: center;
    cursor: pointer;
  }
}

/* ZURUECK ZUR HP */
#astrotel_close {
  z-index: 999;
  width: 100%;
  height: 72px; /*background:rgba(0,0,0,0.2);*/
  text-align: right;
}
#astrotel_close a {
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  font-weight: 100;
  font-family: "Roboto Condensed", sans-serif;
  background: rgba(0, 0, 0, 0.8);
}
#astrotel_close a span {
  display: inline-block;
  padding: 20px 5% 20px 20px;
}

/* MAIN */
div.astrotel_connect {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0, 9);
}

/* IFRAME */
div#mask_iframe {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-y: scroll;
  overflow: hidden; /*overflow-y: scroll !important; iPAD */
  position: fixed;
  display: block;
  top: 72px;
  left: 5%;
  width: 90%; /*height:400px;*/
  bottom: 5%;
  border-radius: 2px;
  overflow: hidden;
}
div.astrotel_connect iframe {
  overflow-y: scroll;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 0px solid #666;
  overflow-y: scroll;
}

div#close_neu {
  display: none !important;
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 50px;
  background-color: #ccc;
}

span.stxt {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-decoration: none;
}
